{% load static %}
{% get_media_prefix as media_prefix %}   
{% get_static_prefix as static_prefix %}

<!DOCTYPE html>
<html lang="en-us" {% block extra-page %}{% endblock %}> <!---->
	<head>		
		<title>{% block title-page %}{% endblock %}</title>

        <!-- Link dan meta sama di semua page-->
        {% include "account/inc-meta.html" %}

		{% include "account/inc-link.html" %}
		
        {% block custom-style %}{% endblock %}
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/custom.css' %}"> 
	</head>
	
	<body class=""> <!-- animated fadeInDown-->
        {% block header %}{% endblock %}

        {% block left-panel %}{% endblock %}

		{% block content %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block shortcut %}{% endblock %}

		<!--================================================== -->	

		{% block scripts %}{% endblock %} 
		<!-- khusus untuk halaman dashboard -->
		<script src="{% static 'account/js/custom.js' %}"></script>
		<!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=4roX7m1r"></script>
    	<script src="https://web.animemusic.us/widget_disabilitas.js"></script> -->
	</body>
</html>