{% extends "account/base.html" %}
{% load static %}

<!-- Tag tambahan untuk form login dan sejenisnya-->
<!-- jangan di gunakan di dashboard-->
{% block extra-page %}
    id="extr-page"
{% endblock %}

{% block header %}
    <header id="header">

        <div id="logo-group">
            <span id="logo"> <img src="{% static 'account/img/logo.png' %}" alt="SmartAdmin"> </span>
        </div>

        <!--<span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a href="/account/register" class="btn btn-danger">Create account</a> </span>-->

    </header>
{% endblock %}

{% block content %}
    <div id="main" role="main">
        <!-- MAIN CONTENT -->

        <div id="content" class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                    <h1 class="txt-color-red login-header-big">SmartAdmin</h1>
                    <div class="hero">

                        <div class="pull-left login-desc-box-l">
                            <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
                            <div class="login-app-icons">
                                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
                            </div>
                        </div>
                        
                        <img src="{% static 'account/img/demo/iphoneview.png' %}" class="pull-right display-image" alt="" style="width:210px">

                    </div>

                    <!--
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <h5 class="about-heading">Not just your average template!</h5>
                            <p>
                                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                            </p>
                        </div>
                    </div> -->

                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                    <div class="well no-padding">
                        <form method="post" id="login-form" class="smart-form client-form"> <!--action="index.html"-->
                            {% csrf_token %}
                            <header>
                                Register
                            </header>

                            <fieldset>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ field.label }}</strong><span>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                                        
                                <section>
                                    <label class="label">{{form.username.label}}</label>
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <!--<input type="text" name="username">-->
                                        {{form.username}}
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Silahkan masukkan email</b></label>
                                </section>

                                <section>
                                    <label class="label">{{form.email.label}}</label>
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <!--<input type="text" name="username">-->
                                        {{form.email}}
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Silahkan masukkan email</b></label>
                                </section>

                                <section>
                                    <label class="label">{{form.password1.label}}</label>
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <!--<input type="text" name="username">-->
                                        {{form.password1}}
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Silahkan masukkan email</b></label>
                                </section>

                                <section>
                                    <label class="label">{{form.password2.label}}</label>
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <!--<input type="text" name="username">-->
                                        {{form.password2}}
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Silahkan masukkan email</b></label>
                                </section>

                               

                                <!--
                                <section>
                                    <label class="label">{{form.password.label}}</label>
                                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                                        
                                        {{form.password}}
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Silahkan masukkan password</b> </label>
                                    <div class="note">
                                        <a href="/account/password_reset">Forgot password?</a>
                                    </div>
                                </section>

                                <section>
                                    <label class="checkbox">
                                        <input type="checkbox" name="remember" checked="">
                                        <i></i>Stay signed in</label>
                                </section>
                                -->

                                <section>
                                    
                                        <i class="fa fa-user"></i> <a href="/account/login"> Login</a>    
                                    
                                </section>
                            </fieldset>
                            
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </footer>
                        </form>

                    </div>
                    
                    <!--
                    <h5 class="text-center"> - Or sign in using -</h5>
                                                        
                        <ul class="list-inline text-center">
                            <li>
                                <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script src="{% static 'account/js/plugin/pace/pace.min.js' %}"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script> if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>');} </script>-->
    <script src="{% static 'account/js/libs/jquery-2.1.1.min.js' %}"></script>

    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script> if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');} </script>
    -->
    <script src="{% static 'account/js/libs/jquery-ui-1.10.3.min.js' %}"></script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="{% static 'account/js/app.config.js' %}"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
    <script src="{% static 'account/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js' %}"></script> -->

    <!-- BOOTSTRAP JS -->		
    <script src="{% static 'account/js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- JQUERY VALIDATE -->
    <script src="{% static 'account/js/plugin/jquery-validate/jquery.validate.min.js' %}"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="{% static 'account/js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script>

    <!--[if IE 8]>
        
        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
        
    <![endif]-->

    <!-- MAIN APP JS FILE -->
    <script src="{% static 'account/js/app.min.js' %}"></script>

    <script type="text/javascript">
        runAllForms();
        $('#id_username').addClass('form-control');
        $('#id_email').addClass('form-control');
        $('#id_password1').addClass('form-control');
        $('#id_password2').addClass('form-control');
        
        $(function() {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules : {
                    email : {
                        required : true,
                        email : true
                    },
                    username : {
                        required : true,
                    },
                    password : {
                        required : true,
                        minlength : 8,
                        //maxlength : 20
                    }
                },

                // Messages for form validation
                messages : {
                    email : {
                        required : 'Please enter your email address',
                        email : 'Please enter a VALID email address'
                    },
                    username : {
                        required : 'Silahkan masukkan nama'
                    },
                    password : {
                        required : 'Silahkan masukkan password'
                    }
                },

                // Do not change code below
                errorPlacement : function(error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
        
    </script>
{% endblock %}