Django==4.2.23
celery==5.5.3
outbox-encryption==1.1.6
django-embed-video==1.4.10
django-simple-open-graph==0.3
django-social-share==2.3.0
easy-thumbnails==2.9
django-hitcount==1.3.5
django-outbox-hitcount==1.1.1
django-underconstruction==0.1.2
django-import-export==4.1.1
django-ckeditor-5==0.2.18
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-cachalot==2.8.0
django-mobile-detect==0.1
django-outbox-menu==1.1.30
django-recaptcha==4.1.0
mysqlclient==2.2.7
beautifulsoup4==4.13.4
django-uuslug==2.0.0
feedparser==6.0.11
humanize==4.10.0
django-ckeditor==6.7.3
