<!-- Include file ini di bagian petunjuk pengisian -->


<ol>
    <li> Di <b>Editor</b>. Klik toolbar <b>Gambar</b>. </li> 
    <li> Muncul window <b>Image Properties</b>. </li> 
    <li> Klik tab <b>Unggah</b>. </li> 
    <li> Klik <b>Choose File</b> untuk mencari file gambar yang ingin di upload.</li>
    <li> Klik <b>Kirim ke server</b>. </li> 
    <li> Setelah berhasil dikirim ke server, tab <b>Info Gambar</b> otomatis akan aktif. </li> 
    <li> Atur <b>Lebar</b> dan <b>Tinggi</b> gambar. </li> 
    <li> Atur HSpace (<b>Horizontal Space</b>). </li> 
    <li> Atur VSpace (<b>Vertical Space</b>). </li> 
    <li> Atur Penjajaran <b>Kiri</b> atau <b>Kanan</b>). </li> 
    <li> Klik <b>OK</b> jika sudah sesuai. </li>         
</ol>

<!-- <br>
Catatan :<br>
<b>Box Canvas</b> adalah kotak yang muncul di atas gambar. Ukuran kotak ini sesuai dengan yang diinginkan oleh website Anda. -->


