<!-- Include file ini di bagian petunjuk pengisian -->


Di Halaman <b>Google Drive</b> Anda :
<ol>
    <li> Copy  
        <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseCopyFileIDGoogleDrive" class="collapsed"><b>FILE_ID</b></a>
        dari file dokumen / gambar yang akan di munculkan preview nya.
        
    </li>
    
</ol>

<!-- <div class="embed-responsive embed-responsive-1by1"><iframe class="embed-responsive-item" frameborder="0" src="https://drive.google.com/file/d/1_ln9u-uQsMY2Y_BvFI3ahWDihhJMlvLhnyupqOtXefQ/preview"></iframe></div> -->

Di Menu Konten > Berita :
<ol>
    
    <li> Di Editor, Klik tombol <b>Preview Google Drive</b>. </li> 
    <li> Paste <b>FILE_ID</b> yang sudah di copy dari step sebelumnya.</li>

    <!-- belum disimpan dulu -->
    <!-- <li> Klik tombol Simpan.</li>
    <li> Refresh tampilan website Anda.</li> -->

    <!-- <li> Pada posisi <b>[FILE_ID]</b>. <br>Perhatikan Contoh dibawah ini :</li>


    <ul>
        <li>
    Misalkan data FILE_ID: </li>
<pre>
1bk4Wka1nKbpZAOpUi9pwAKNLw48o4uMk
</pre>    
        <li>
    Script Embed Via Google Drive:</li>
<pre>
&lt;div class="embed-responsive embed-responsive-1by1"&gt;
    &lt;iframe class="embed-responsive-item" frameborder="0" 
        src="https://drive.google.com/file/d/[FILE_ID]/preview"&gt;
    &lt;/iframe&gt;
&lt;/div&gt;
</pre>

        <li>
    Replace [FILE_ID] dengan data FILE_ID dari file di Google Drive sehingga menjadi :</li>
<pre>
&lt;div class="embed-responsive embed-responsive-1by1"&gt;
    &lt;iframe class="embed-responsive-item" frameborder="0" 
        src="https://drive.google.com/file/d/1bk4Wka1nKbpZAOpUi9pwAKNLw48o4uMk/preview"&gt;
    &lt;/iframe&gt;
&lt;/div&gt;
</pre>
    </ul>

    
    <li> Untuk dokumen office lainnya atau gambar, caranya sama. Silahkan berkreasi. </li>  -->
    <!--<li> Di dalam tabel yang aktif, di kolom <b>action</b> klik <b>Copy URL to Clipboard</b>. </li>     
    <li> Muncul pesan <b>URL sudah di Copy</b>. </li> 
    <li> Artinya data URL file sudah tersimpan di <b>memory</b> / <b>clipboard</b>. </li> 
    <li> Silahkan <b>Paste</b> di kolom inputan di menu lain.</li>


    <h3>Contoh Embed:</h3> -->


</ol>

<!-- <br>
Catatan :<br>
<b>Box Canvas</b> adalah kotak yang muncul di atas gambar. Ukuran kotak ini sesuai dengan yang diinginkan oleh website Anda. -->



