<!-- Include file ini di bagian petunjuk pengisian -->


<ol>
    <li> Buka <b>Google Drive</b>. </li>     
    <li> Klik kanan di file yang akan dimunculkan preview nya.</li>
    <li> Klik <b>Get Link</b>.</li>
    <li> Klik <b>Copy Link</b>.</li>
    <li> Misal link yang di copy berupa:</li>
<pre>
https&#58;&#47;&#47;drive.google.com&#47;file&#47;d&#47;1bk4Wka1nKbpZAOpUi9pwAKNLw48o4uMk&#47;view&#63;usp&#61;sharing
</pre> 
    <li>Ambil bagian FILE_ID nya, sehingga menjadi:</li>
<pre>
1bk4Wka1nKbpZAOpUi9pwAKNLw48o4uMk
</pre> 
    
    <li> <b>FILE_ID</b> ini siap untuk di paste di <b>Preview Via Google Drive.</b> </li>         
</ol>

