<!-- Include file ini di bagian petunjuk pengisian -->


Di Menu Konten > <b>Dokumen</b> :
<ol>
    <li> File dokumen / gambar yang akan di buat preview nya, terlebih dahulu harus sudah diupload di menu 
        <b>Dokumen.</b>        
    </li>
    <li><a data-toggle="collapse" data-parent="#accordion-2" href="#collapseCopyURLDokumen"><b>Copy URL Dokumen</b>.</a>
        yang akan dimunculkan preview nya.</li>
</ol>

Di Menu Konten > <b>Berita</b> :
<ol>
    
    <li> Di Editor, Klik tombol <b>Preview Document</b>. </li> 
    <li> Paste <b>URL</b> yang sudah di copy dari step sebelumnya.</li>
    <!-- <li> Klik tombol Simpan.</li>
    <li> Refresh tampilan website Anda.</li> -->

    <!-- <li> Pada posisi <b>[URL_DOCUMENT]</b>. <br>Perhatikan Contoh dibawah ini :</li>

    <ul>
        <li>
    Misalkan data URL Document: </li>
<pre>
https://diskominfo.lombokbaratkab.go.id/media/Data_Puskesmas.xlsx
</pre>    
        <li>
    Script Embed Via Dokumen:</li>
<pre>
&lt;div class="embed-responsive embed-responsive-1by1"&gt;
    &lt;iframe class="embed-responsive-item" frameborder="0" 
        src="https://docs.google.com/gview?url=[URL_DOCUMENT]&amp;embedded=true"&gt;
    &lt;/iframe&gt;
&lt;/div&gt;
</pre>

        <li>
    Replace [URL_DOCUMENT] dengan data URL Document sehingga menjadi :</li>
<pre>
&lt;div class="embed-responsive embed-responsive-1by1"&gt;
    &lt;iframe class="embed-responsive-item" frameborder="0" 
        src="https://docs.google.com/gview?url=http://adminopd.lombokbaratkab.go.id/media/Data_Puskesmas.xlsx&amp;embedded=true"&gt;
    &lt;/iframe&gt;
&lt;/div&gt;
</pre>

    </ul> -->

<!-- <div class="embed-responsive embed-responsive-1by1">
    <iframe class="embed-responsive-item" frameborder="0" 
        src="http://docs.google.com/gview?url=[]&amp;embedded=true">
    </iframe>
</div> -->



    
    <!-- <li> Untuk dokumen office lainnya atau file gambar caranya sama. Silahkan berkreasi. </li>  -->

    <!--<li> Di dalam tabel yang aktif, di kolom <b>action</b> klik <b>Copy URL to Clipboard</b>. </li>     
    <li> Muncul pesan <b>URL sudah di Copy</b>. </li> 
    <li> Artinya data URL file sudah tersimpan di <b>memory</b> / <b>clipboard</b>. </li> 
    <li> Silahkan <b>Paste</b> di kolom inputan di menu lain.</li>


    <h3>Contoh Embed:</h3> -->


</ol>

<!-- <br>
Catatan :<br>
<b>Box Canvas</b> adalah kotak yang muncul di atas gambar. Ukuran kotak ini sesuai dengan yang diinginkan oleh website Anda. -->



