<!-- Include file ini di bagian petunjuk pengisian -->


<ol>
    <li> Klik <b>Choose File</b>. </li> 
    <li> Cari file gambar di komputer Anda yang ingin di upload ke website. </li>
    <li> Klik <b>Open File</b>. </li>
    <li> Tunggu beberapa saat, akan muncul jendela <b>Crop The Photo</b>. </li> 
    <li> <b>Drag drop</b> gambar atau <b>Box Canvas</b> untuk mendapatkan posisi gambar yang pas. </li> 
    <li> Arahkan mouse ke garis <b>Box Canvas</b> untuk membesarkan atau mengecilkan ukuran <b>Box Canvas</b>. </li> 
    <li> Scroll mouse ke depan untuk <b>Zoom In</b> atau scroll mouse ke belakang untuk <b>Zoom Out</b>. </li> 
    <li> Jika sudah sesuai keinginan, klik tombol <b>Crop And Upload</b></li>
</ol>

<br>
Catatan :<br>
<b>Box Canvas</b> adalah kotak yang muncul di atas gambar. Ukuran kotak ini sesuai dengan yang diinginkan oleh website Anda.


