{% load static %}
{% get_media_prefix as media_prefix %}   
{% get_static_prefix as static_prefix %}   

<!DOCTYPE html>
<html lang="id">
<head>
    <!--  
         prefix="og: https://ogp.me/ns#"
        prefix="og: http://ogp.me/ns#" -->

	<title>{% block page-title %}{% endblock %}</title>    
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ambil data asli bukan data dari cache -->
    <Meta Name= “GoogleBot” Content= “Noarchive”> 

    <!-- <style>
        .hidden {
            display: none;
        }
    </style> -->
    
    {% block extra_head %}{% endblock %}

    <!-- <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" /> -->
    
    {% include "magnews2-master/inc-link.html" %}
    
</head>
<body class="animsition">
    <!-- media prefix is {{media_prefix}} <br>
    static prefix is {{static_prefix}} <br> -->
    <!-- <span itemprop="image" itemscope itemtype="image/jpeg">
        <link itemprop="url" href="{{news_img_meta}}">
    </span> -->
    
	<!--NEWS = <br>-->
    <!--'berita__id','berita__site__name','berita__kategori__nama','berita__judul','berita__isi_berita', 'berita__admin__username','berita__created_at')   \-->
    <!-- {% comment %} {% for i in news %}
        id = {{i.berita__id}} <br>
        photo = {{i.foto}} <br>
        site = {{i.berita__site__name}} <br>
    {% endfor %} {% endcomment %}     -->

    {% block page-header %}{% endblock %}     

    <!-- hanya ada di detail -->
    {% block breadcrumb %}{% endblock %}

    <!-- hanya ada di index -->
    {% block trending %}{% endblock %}
    {% block future-post %}{% endblock %}
    <!---->

    <!-- section ini hanya ada di hal index-->
    <!-- {% comment %} {% block section-index %}{% endblock %} {% endcomment %} -->

    <!--Block section index dan detail di gabung menjadi -->
    {%block section-content %}{% endblock %}

    <!-- section ini hanya ada di hal detail-->
    <!-- {% comment %} {% block section-detail %}{% endblock %} {% endcomment %} -->

    <!-- Agar tidak putih di bagian paling bawah -->
    

    {% block page-footer %}{% endblock  %}    

	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
	</div>    

	<!-- Modal Video 01  -->
	<div class="modal fade" id="modal-video-02" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document" data-dismiss="modal">
			<div class="close-mo-video-02 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

			<div class="wrap-video-mo-02">
                <div class="embed-responsive embed-responsive-16by9">
				    <div class="video-mo-02">                    
					    <iframe class="embed-responsive-item" src="" 
                            allowfullscreen></iframe> 
                    </div>
				</div>
			</div>
		</div>
	</div>
    <!-- Modal HTML -->


    <div class="modal fade" id="modal-video-03" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document" data-dismiss="modal">
            <div class="close-mo-video-03 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
                <div class="wrap-video-mo-03">
                    <div class="video-mo-03">
                    <!-- <iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe> -->
                    <!-- <iframe src="images/video-03.jpg" allowfullscreen></iframe> -->
                        <!-- <img class="lazy" data-src="/media/{{i.photo__file_path}}" alt="IMG"> -->
                        <img class="lazy" data-src="" alt="IMG">
                    </div>
                </div>
            
            <!-- <div class="wrap-video-mo-01">
                <div class="video-mo-01">
                    <iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
                </div>
            </div> -->
        </div>
    </div>

    <!-- <div id="modal-video-02" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">YouTube Video</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="cartoonVideo" class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- Modal Video 01-->
    {% for i in popup %}   
                                              
        <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document" data-dismiss="modal">
                <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
                    <div class="wrap-video-mo-01">
                        <div class="video-mo-01">
                        <!-- <iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe> -->
                        <!-- <iframe src="images/video-01.jpg" allowfullscreen></iframe> /media/ -->
							<img src="{{media_prefix}}{{i.photo__file_path}}" alt="Popup Image"> 
                            <!--<img class="lazy" data-src="{{media_prefix}}{{i.photo__file_path}}" alt="IMG">-->
                        </div>
                    </div>
                
                <!-- <div class="wrap-video-mo-01">
                    <div class="video-mo-01">
                        <iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
                    </div>
                </div> -->
            </div>
        </div>
    {% endfor %}

    {% include "magnews2-master/inc-script.html" %}       
    {% block related-plugin %}{% endblock  %} 
    {% block extra_body %}{% endblock  %} 

    <script type="text/javascript">

        $(document).ready(function() {

            {% block jquery-doc-ready %}{% endblock %}

            // $('#my_slider').revolver({transition: {type: 'fade'}});
            // $('#modal-video-02').on('hide.bs.modal', () => {
            //     // console.log($('.video-mo-02').html());
            //     $('.video-mo-02').find('iframe').attr('src', '');
            //     // console.log($('.video-mo-02').html());
            // });

            // Add lazy load
            // $('.lazy').lazy({
            //     effect: "fadeIn",
            //     effectTime: 2000,
            //     threshold: 0
            // });
        });

        // function show_modal(pURL){
        //     // $('.video-mo-02').css('opacity','1');
        //     // setTimeout(function(){
        //     //     $('.video-mo-02').css('opacity','0');
        //     // },300);
        //     //$('.video-mo-02').html('<iframe width="853" height="480" src="https://www.youtube.com/embed/8KDOFMAhWCc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
        //     // https://www.youtube.com/embed/_P7FX8rhXk4
        //     //alert(pURL)
        //     $('.video-mo-02').html('<iframe frameborder="0" height="427" src="'+ pURL + '?autoplay=1" title="YouTube video player" width="759" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
            
        //     //$('.video-mo-02').children('iframe')[0].src += "?autoplay=1";
        //     $('#modal-video-02').modal();
        // };

        // function show_modal_image(pURL){
        //     //alert(pURL);
        //     // $('.video-mo-02').css('opacity','1');
        //     // setTimeout(function(){
        //     //     $('.video-mo-02').css('opacity','0');
        //     // },300);
        //     //$('.video-mo-02').html('<iframe width="853" height="480" src="https://www.youtube.com/embed/8KDOFMAhWCc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
        //     // https://www.youtube.com/embed/_P7FX8rhXk4
        //     //alert(pURL)
        //     //$('.video-mo-01').html('<iframe frameborder="0" height="427" src="'+ pURL + '?autoplay=1" title="YouTube video player" width="759" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>');
        //     //alert(pURL);
        //     $('#modal-video-03').find('.video-mo-03').html('<img class="img-fluid img-thumbnail" src="'+ pURL +'" alt="IMG">');
        //     //$('.video-mo-02').children('iframe')[0].src += "?autoplay=1";
        //     $('#modal-video-03').modal();
        // };


        // console.log('debug = ');
        // console.log('{{debug_flag}}');
    </script>

    <!-- <script src="static 'isso/js/require.js' %}"></script> -->

    <!-- aktifkan comment di bawah ini untuk isso -->
    <!-- <script data-isso="//127.0.0.1:8080/" src="static 'isso/js/embed.min.js' %}"></script> -->

    {% if not debug_flag %}       
        <!-- Histats.com  START  (aync)-->
        <!-- <script type="text/javascript">var _Hasync= _Hasync|| [];
        _Hasync.push(['Histats.start', '1,3743661,4,0,0,0,00010000']);
        _Hasync.push(['Histats.fasi', '1']);
        _Hasync.push(['Histats.track_hits', '']);
        (function() {
        var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
        hs.src = ('//s10.histats.com/js15_as.js');
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
        })();</script>
        <noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3743661&101" alt="web site hit counter" border="0"></a></noscript> -->
        <!-- Histats.com  END  -->
    {% endif %}
    <!-- <script type='text/javascript' src='https://statistik.kpk.go.id/javascripts/api/viz_v1.js'></script> -->
    
    <!-- <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script> -->
    <!-- <script type="text/javascript"> -->

        <!-- $(document).ready(function() {
            alert('LOAD');
            
        )}; -->
    <!-- </script> -->

    <script src="https://code.responsivevoice.org/responsivevoice.js?key=4roX7m1r"></script>
    <script src="https://web.animemusic.us/widget_disabilitas.js"></script>

    <!-- Histats.com  (div with counter) -->
    <!-- Histats.com  START  (aync)-->
    <script type="text/javascript">var _Hasync= _Hasync|| [];
        _Hasync.push(['Histats.start', '1,3743661,4,604,110,55,00011111']);
        _Hasync.push(['Histats.fasi', '1']);
        _Hasync.push(['Histats.track_hits', '']);
        _Hasync.push(['Histats.framed_page', '']);
        (function() {
        var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
        hs.src = ('//s10.histats.com/js15_as.js');
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
        })();</script>
        <noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3743661&101" alt="web site analysis" border="0"></a></noscript>
    <!-- Histats.com  END  -->
</body>
</html>
