

<!DOCTYPE html>
<html lang="en" >
<head>
	<title>Website Dalam Pemeliharaan</title>    
    

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% include "magnews2-master/inc-link.html" %}
    
</head>
<body class="animsition">
	<!--NEWS = <br>-->
    <!--'berita__id','berita__site__name','berita__kategori__nama','berita__judul','berita__isi_berita', 'berita__admin__username','berita__created_at')   \-->
    <!-- {% comment %} {% for i in news %}
        id = {{i.berita__id}} <br>
        photo = {{i.foto}} <br>
        site = {{i.berita__site__name}} <br>
    {% endfor %} {% endcomment %}     -->


<!-- <div class="d-flex justify-content-center"> 
            <p>Mohon maaf, Informasi yang Anda cari belum tersedia untuk saat ini.
            Silahkan hubungi admin website ...</p>
        </div> -->

    <!-- <div class="container d-flex h-100">                                        

        
        <div class="row justify-content-center align-self-center">

            <div class="col"> 
                <div class="jumbotron"> 
              
                    <h5>Website yang Anda akses, saat ini dalam pemeliharaan sistem. <br>Silahkan kembali lagi dalam beberapa menit...</h5>
               

                    <img class="lazy" data-src="static 'magnews2-master/images/under-construction-pages-1-image-library.jpg' %}" class=" img-fluid">        
                </div>  
            </div>
        </div>

    </div> -->

    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col text-center" >
            <!-- <div class="jumbotron"> -->
                
                <h1>Website Dalam Pemeliharaan</h1>
                
                <p>Website yang Anda akses saat ini dalam pemeliharaan sistem. Silahkan kembali lagi dalam beberapa menit...</p>
            
                <img class="lazy" data-src="{{static_prefix}}magnews2-master/images/under-construction-pages-1-image-library.jpg" class="img-fluid">        
            <!-- </div> -->
            </div>
        </div>
    </div>

    {% include "magnews2-master/inc-script.html" %}  
</body>
</html>
