

<div class="flex-wr-sb-s m-b-30">
    <a href="#" class="size-w-1 wrap-pic-w hov1 trans-03">
        <img class="lazy" data-src="{{static_prefix}}magnews2-master/images/post-none.png" alt="IMG">
    </a>

    <div class="size-w-2">
        <h5 class="p-b-5">
            <a href="#" class="f1-s-5 cl3 hov-cl10 trans-03">
                No data to display
            </a>
        </h5>

        <span class="cl8">
            <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                No admin
            </a>

            <span class="f1-s-3 m-rl-3">
                -
            </span>

            <span class="f1-s-3">
                No date
            </span>
        </span>
    </div>
</div>