
{% load humanize %}
<!-- {% load cache %} -->
<!-- Add Lazy load image -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

    <!-- jsDeliver -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.11/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.11/jquery.lazy.plugins.min.js"></script>

<!--===============================================================================================-->	
	<!-- <script src=" static 'magnews2-master/vendor/jquery/jquery-3.2.1.min.js' %}"></script> -->
    <!-- <script src="static 'magnews2-master/vendor/datatables/jquery-3.5.1.js' %}"></script>  -->    
            
<!--===============================================================================================-->
	<!-- <script src="static 'magnews2-master/vendor/animsition/js/animsition.min.js' %}"></script> -->
	<script src="{{static_prefix}}magnews2-master/vendor/animsition/js/animsition.min.js"></script> 	
    
    
<!--===============================================================================================-->
	<!-- <script src="static 'magnews2-master/vendor/bootstrap/js/popper.js' %}"></script> -->
    <script src="{{static_prefix}}magnews2-master/vendor/bootstrap/js/popper.js"></script> 
    
    
	<!-- <script src="static 'magnews2-master/vendor/bootstrap/js/bootstrap.min.js' %}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap-v4.0.0-alpha@4.0.0-alpha.8/dist/js/bootstrap.min.js"></script> -->    
    <script src="{{static_prefix}}magnews2-master/vendor/bootstrap/js/bootstrap.min.js"></script> 
    
<!--===============================================================================================-->
	<!-- <script src="static 'magnews2-master/js/main.js' %}"></script> -->    
    <script src="{{static_prefix}}magnews2-master/js/main.js"></script> 
    
        
    <!-- <script src="static 'magnews2-master/js/fullclip.js' %}"></script>  -->
    <script src="{{static_prefix}}magnews2-master/js/fullclip.js"></script>  
    
    <!--<script src="static 'magnews2-master/js/autoplay-video.js' %}"></script>-->
<!--===============================================================================================-->    

    <!-- <script src="static 'magnews2-master/vendor/datatables/jquery.dataTables.min.js' %}"></script>  -->    
    <!-- <script src="https://cdn.jsdelivr.net/npm/datatables.net@1.11.4/js/jquery.dataTables.min.js"></script> -->
    <script src="{{static_prefix}}magnews2-master/vendor/datatables/jquery.dataTables.min.js"></script>
    
    <!-- <script src="static 'account/js/plugin/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="static 'account/js/plugin/datatables/dataTables.colVis.min.js' %}"></script>
	<script src="static 'account/js/plugin/datatables/dataTables.tableTools.min.js' %}"></script>
	<script src="static 'account/js/plugin/datatables/dataTables.bootstrap.min.js' %}"></script>
	<script src="static 'account/js/plugin/datatable-responsive/datatables.responsive.min.js' %}"></script> -->

    <!--<script src="https://widget.kominfo.go.id/gpr-widget-kominfo.min.js"></script> -->

    <!--script slide show-->
    <!-- <script src="static 'magnews2-master/js/lc-micro-slider.js' %}"></script>  -->    
    <script src="{{static_prefix}}magnews2-master/js/lc-micro-slider.js"></script> 
    
    <!-- <script src="static 'magnews2-master/js/ken_burns.js' %}"></script>  -->    
    <script src="{{static_prefix}}magnews2-master/js/ken_burns.js"></script> 

    <!-- <script src="static 'magnews2-master/js/custom.js' %}"></script>  -->
    <script src="{{static_prefix}}magnews2-master/js/custom.js"></script>          

    <!-- <script src="static 'magnews2-master/js/jsslider.js' %}"></script>  -->
    <script src="{{static_prefix}}magnews2-master/js/jsslider.js"></script>  
        
    <!-- <script src="static 'magnews2-master/js/jquery.revolver.min.js' %}"></script> -->    
    <!-- <script src="static 'magnews2-master/owlcarousel2/assets/vendors/jquery.min.js' %}"></script> -->
    
    <!-- <script src="static 'magnews2-master/owlcarousel2/assets/owlcarousel/owl.carousel.js' %}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script> -->
    <script src="{{static_prefix}}magnews2-master/owlcarousel2/assets/owlcarousel/owl.carousel.js"></script>
    
    <!-- vendors -->
    <!-- <script src="static 'magnews2-master/owlcarousel2/assets/vendors/highlight.js' %}"></script> -->
    <script src="{{static_prefix}}magnews2-master/owlcarousel2/assets/vendors/highlight.js"></script> 
        
    <!-- <script src="static 'magnews2-master/owlcarousel2/assets/js/app.js' %}"></script> -->
    <script src="{{static_prefix}}magnews2-master/owlcarousel2/assets/js/app.js"></script> 
    
    <!-- <script src="static 'django_ckeditor_5/dist/bundle.js' %}"></script>     -->    
    <script src="{{static_prefix}}django_ckeditor_5/dist/bundle.js"></script>     
    
<script>    
    $( document ).ready(function() {  
        
        // Add lazy load
        $('.lazy').lazy({
            effect: "fadeIn",
            //effectTime: 500,
            threshold: 0
        });

        // alert('masuk');
        // BANNER ALL
            //#banner0 {
            //    background-image: url('/media/crop/4.jpeg');
            //    /* background-size: 100%; */
            //}

        $('.owl-carousel').owlCarousel({
            items: 1,
            margin: 10,
            autoHeight: true,

            // items: 1,
            // animateOut: 'fadeOut',
            animateOut: 'slideOutDown',
            animateIn: 'flipInX',
            stagePadding:0,
            smartSpeed:450,
            loop: true,
            // margin: 10,

            // // navigation : true, // Show next and prev buttons
 
            // // slideSpeed : 300,
            // // paginationSpeed : 400,
            // // // items : 1, 
            // // // itemsDesktop : false,
            // // // itemsDesktopSmall : false,
            // // // itemsTablet: false,
            // // // itemsMobile : false,
            // // singleItem:true,


            // autoPlay : 3000,
            // stopOnHover : true,
            // navigation:true,
            // // paginationSpeed : 1000,
            // // goToFirstSpeed : 2000,
            singleItem : true,

            autoplay:true,
            autoplayTimeout:5000,
            autoplayHoverPause:true,
            // autoHeight : true,
            // transitionStyle:"fade"
        });                                
        
        {% if popup %}
            show_popup();        
        {% endif %}
        // <!-- Tampilkan info suhu -->
        //$.ajax({
        //    type: 'GET', 
        //    dataType: 'json',
        //    url: "https://api.openweathermap.org/data/2.5/onecall?lat=-8.681396051879979&lon=116.13670528340147&exclude=minutely,hourly&units=metric&appid=0c0287527a934f13cc3d7b998b8016e0", 
        //    success: function(result) {
        //        $(".info_suhu").html(
        //            // Suhu 33°C, Suhu Terasa 35.8°C
        //            "Suhu " + result.current.temp + "°C, " +
        //            "Suhu Terasa " + result.current.feels_like + "°C"
        //            // result.current.feels_like
        //            ); //result.current.temp
        //    }
        //});

        // {% if section == 'satudata' %}
        //     $.ajax({
        //         type: 'GET', 
        //         dataType: 'json',
        //         url: "https://satudata.lombokbaratkab.go.id/api/form-datas/dikbud", 
        //         success: function(result) {
        //             $(".info_suhu").html(
        //                 // Suhu 33°C, Suhu Terasa 35.8°C
        //                 "Suhu " + result.current.temp + "°C, " +
        //                 "Suhu Terasa " + result.current.feels_like + "°C"
        //                 // result.current.feels_like
        //                 ); //result.current.temp
        //         }
        //     });
        // {% endif %}

        // var image_ = [], category_ = [], title_ = [], admin_ = [], date_ = [], link_ = [], site_ = [];
                                  
        // Berita Terbaru // 
        {% if beritaTerbaruAll|slice:":3"|length > 0 %} 
            var image_ = [], category_ = [], title_ = [], admin_ = [], date_ = [], link_ = [], site_ = [];
            {% for i in beritaTerbaruAll|slice:":3" %}        
                {% if i.foto %}
                    image_.push('{{media_prefix}}{{i.foto}}');
                {% else %}
                    image_.push("{{static_prefix}}magnews2-master/images/post-none.png");
                {% endif %}

                category_.push('{{i.kategori__nama}}');

                // Jika length judul kurang dari 2 baris maka tambahin spasi agar tetap konsisiten di tampilan
                                            
                title_.push('{{i.judul }}');
                
                admin_.push('{{i.admin__username|title}}');
                
                // alert('{{i.judul }}');
                // alert('{{i.created_at}}');

                date_.push('{{i.created_at}}');

                link_.push('/berita/{{i.slug}}');
                site_.push('{{i.site__name|upper}}');    
            {% endfor %}    

            $('.fullBackground_beritaTerbaruAll').fullClipImg({
                images : image_, category: category_, title: title_, admin: admin_, date: date_, link: link_, site: site_,        
                transitionTime: 2000,
                wait: 3000
            });
        {% endif %}

        // berita OPD Lain
        {% if beritaTerbaruLain|slice:":3"|length > 0 %}    
            var image_ = [], category_ = [], title_ = [], admin_ = [], date_ = [], link_ = [], site_ = [];
            {% for i in beritaTerbaruLain|slice:":3" %}        
                {% if i.foto %}
                    image_.push('{{media_prefix}}{{i.foto}}');
                {% else %}
                    image_.push("{{static_prefix}}magnews2-master/images/post-none.png");
                {% endif %}
                category_.push('{{i.kategori__nama}}');
                title_.push('{{i.judul}}');
                admin_.push('{{i.admin__username|title}}');                                

                date_.push('{{i.created_at}}');

                link_.push('/berita/{{i.slug}}');
                site_.push('{{i.site__name|upper}}');  
            {% endfor %}    

            $('.fullBackground_beritaTerbaruLain').fullClipImg({
                images : image_, category: category_, title: title_, admin: admin_, date: date_, link: link_, site: site_,        
                transitionTime: 2000,
                wait: 3000
            });
        {% endif %}

        // Berita Terpopuler // 
        {% if beritaTerpopulerAll|slice:":3"|length > 0 %} 
            var image_ = [], category_ = [], title_ = [], admin_ = [], date_ = [], link_ = [], site_ = [];
            {% for i in beritaTerpopulerAll|slice:":3" %}        
                {% if i.foto %}
                    image_.push('{{media_prefix}}{{i.foto}}');
                {% else %}
                    image_.push("{{static_prefix}}magnews2-master/images/post-none.png");
                {% endif %}
                category_.push('{{i.kategori__nama}}');
                title_.push('{{i.judul}}');
                admin_.push('{{i.admin__username|title}}');
                
                date_.push('{{i.created_at}}');

                // {% if i.created_at|naturalday == 'hari ini' %}
                //     date_.push('{{i.created_at|naturaltime}}');
                // {% else %}
                //     date_.push('{{i.created_at|naturalday}}');
                // {% endif %}

                link_.push('/berita/{{i.slug}}');
                site_.push('{{i.site__name|upper}}');    
            {% endfor %}    

            //console.log(image_);    
            //console.log(category_);    
            //console.log(site_);  
            $('.fullBackground_beritaTerpopulerAll').fullClipImg({
                images : image_, category: category_, title: title_, admin: admin_, date: date_, link: link_, site: site_,        
                transitionTime: 2000,
                wait: 3500
            });
        {% endif %}

        // Berita OPD Lain
        {% if beritaTerpopulerLain|slice:":3"|length > 0 %}
            var image_ = [], category_ = [], title_ = [], admin_ = [], date_ = [], link_ = [], site_ = [];
            {% for i in beritaTerpopulerLain|slice:":3" %}        
                {% if i.foto %}
                    image_.push('{{media_prefix}}{{i.foto}}');
                {% else %}
                    image_.push("{{static_prefix}}magnews2-master/images/post-none.png");
                {% endif %}
                
                category_.push('{{i.kategori__nama}}');
                title_.push('{{i.judul}}');
                admin_.push('{{i.admin__username|title}}');

                date_.push('{{i.created_at}}');
                
                // {% if i.created_at|naturalday == 'hari ini' %}
                //     date_.push('{{i.created_at|naturaltime}}');
                // {% else %}
                //     date_.push('{{i.created_at|naturalday}}');
                // {% endif %}

                link_.push('/berita/{{i.slug}}');
                site_.push('{{i.site__name|upper}}');    
            {% endfor %}    

            $('.fullBackground_beritaTerpopulerLain').fullClipImg({
                images : image_, category: category_, title: title_, admin: admin_, date: date_, link: link_, site: site_,        
                transitionTime: 2000,
                wait: 3500
            });
        {% endif %}

        // artikel
        // ------- 
             

        // Pejabat
        {% if pejabat %}
            var image_ = [], category_ = [], title_ = [], admin_ = [], date_ = [], link_ = [], site_ = [];
            {% for i in pejabat %}        
                image_.push('{{i.photo.file_path.url}}');        
                title_.push('{{i.nama}}');
                admin_.push('{{i.jabatan}}');
                date_.push('');
                link_.push('javascript:void(0)');
                site_.push('');    
            {% endfor %}  
            
            $('.fullBackground_pejabat').fullClipImg({
                images : image_, category: category_, title: title_, admin: admin_, date: date_, link: link_, site: site_,        
                transitionTime: 2000,
                wait: 3700
            });        
        {% endif %}

        // Berita Detail - pakai judul seo// 
        {% if news_img|slice:":3"|length > 0 %} 
            var image_ = [], category_ = [], title_ = [], admin_ = [], date_ = [], link_ = [], site_ = [];
            {% for i in news_img|slice:":3" %}        
                image_.push('{{media_prefix}}{{i.photo__file_path}}');

                //console.log('isi variabel -----');
                //console.log('/media/' + '{{i.photo__file_path}}');

                category_.push('');
                title_.push('');
                admin_.push('');
                date_.push('');

                //{% if i.berita__created_at|naturalday == 'hari ini' %}
                //    date_.push('{{i.berita__created_at|naturaltime}}');
                //{% else %}
                //    date_.push('{{i.berita__created_at|naturalday}}');
                //{% endif %}

                link_.push('');
                site_.push('');    
            {% endfor %}    

            $('.fullBackground_detail').fullClipImg({
                images : image_, category: category_, title: title_, admin: admin_, date: date_, link: link_, site: site_,        
                transitionTime: 2000,
                wait: 3300
            });
        {% endif %}

        //$('.myiframe').attr('style', 'display:none');

        // berhasil cara ini, tapi memang harus dari model
        //console.log($('.myiframe iframe').attr('src'));

        

        
        //$.getScript(" static 'magnews2-master/js/main.js' %}");                
        //$.getScript(" static 'magnews2-master/js/fullclip.js' %}");  
        // "https://widget.kominfo.go.id/gpr-widget-kominfo.min.js"

        //$.getScript("https://widget.kominfo.go.id/gpr-widget-kominfo.min.js"); 
        

        //{% cache 100000 gpr %}  // in second
        //    {% for i in widget %}            
        //        try {             
        //            $.getScript("{{i.script|safe}}");                        	
        //        } catch(er) {console.log(er);}        
        //    {% endfor %}
        //{% endcache %}

        // # Jika ada sript lain, lokasi <div> update di interface

                     
                
        //$('.isi-berita ul').addClass("a");
        //$('.isi-berita ol').addClass("a");
    });

</script>
