/*//////////////////////////////////////////////////////////////////
[ BUTTON BACK TO TOP ]*/
.btn-back-to-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: -40px;
    right: 40px;
    background-color: #f44336;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    }

    .symbol-btn-back-to-top {
    font-size: 18px;
    color: white;
    line-height: 1em;
    }

    .btn-back-to-top:hover {
    opacity: 1;
    }

    /* @media (max-width: 575px) {
    .btn-back-to-top {
        bottom: 0px;
        right: 15px;
    }
    } */

    .show-btn-back-to-top {bottom: 0;}
