/* :root {
  background: #f5f6fa;
  color: #9c9c9c;
  font: 1rem "PT Sans", sans-serif;
} */
/* 
html,
body,
.container {
  height: 100%;
}

a {
  color: inherit;
}
a:hover {
  color: #7f8ff4;
} */

.text-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.text-container .uppercase {
  text-transform: uppercase;
}

.text-container .btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.text-container .btn--primary {
  background: #f44336;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
}
.text-container .btn--primary:hover {
  background: #f83628;
}
.text-container .btn--primary:active {
  background: #f44336;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.text-container .btn--inside {
  margin-left: -96px;
}

.text-container .form__field {
  width: 40%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  margin-top: 5px;
  margin-left: 10%;
  border-radius: 3px;

  /* white-space: nowrap;
	overflow: hidden; */
}

@media (max-width: 1199px) {
  .text-container .form__field {
    width: 70%;
  }
}
