
<!--===============================================================================================-->	
	<!-- <link rel="icon" type="image/png" href="static 'opd/images/icons/favicon.png' %}"/> -->
	<!--<link rel="icon" type="image/png" href="https://res.cloudinary.com/drs8uoqys/image/upload/v1701911147/opd-website/favicon_upv7aj.png"/>-->
	<link rel="icon" type="image/png" href="https://cdn.lombokbaratkab.go.id/static/opd/images/icons/favicon.png"/> 
	
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/vendor/bootstrap/css/bootstrap.min.css' %}"> -->	
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-v4.0.0-alpha@4.0.0-alpha.8/dist/css/bootstrap.min.css"> -->
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701931703/opd-website/bootstrap_v4.min_rvxa2v.css">-->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/vendor/bootstrap/css/bootstrap.min.css"> 
	
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">  -->
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701931754/opd-website/fontawesome-all.min_evoykg.css"> 	-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/all.css"> 	
    
	<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css">  -->

	
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/fonts/iconic/css/material-design-iconic-font.min.css' %}"> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701931990/opd-website/material-design-iconic-font.min_lhfznz.css"> -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	
	
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/vendor/animate/animate.css' %}"> -->
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932139/opd-website/animate_qgf7kv.css">-->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/vendor/animate/animate.css"> 
	
<!--===============================================================================================-->	
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932142/opd-website/hamburgers.min_n2th7o.css">-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/vendor/css-hamburgers/hamburgers.min.css' %}"> -->	
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/vendor/css-hamburgers/hamburgers.min.css"> 

<!--===============================================================================================-->
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932147/opd-website/animsition.min_a6d01p.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/vendor/animsition/css/animsition.min.css' %}">  -->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/vendor/animsition/css/animsition.min.css">  
	
	
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/util.css' %}"> -->
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932148/opd-website/css_util_uopkfo.css">-->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/util.css"> 	

<!--===============================================================================================-->	
    <!--<link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/lato" rel="stylesheet">-->
                
                
	<!--<link rel="stylesheet" type="text/css" href="https://unpkg.com/roboto-regular@1.0.0/index.js">-->
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'> -->

	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932165/opd-website/css_main_tuauce.css">-->
    <!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1704192327/main_pmutbd.css"> -->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/main.css" crossorigin="anonymous" referrerpolicy="no-referrer">-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/main.css' %}?version=1.0.0"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/main.css"> 
	
	
<!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932167/opd-website/style.fullclip_bmjupa.css">-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/style.fullclip.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/style.fullclip.css"> 
		
<!--===============================================================================================--> 
    <!--Style slide show-->
    <!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932165/opd-website/default_theme_jpszsm.css">-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/default_theme.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/default_theme.css"> 
	
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932164/opd-website/gpr-widget-kominfo_ekd1e4.css">-->
    <!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1703929862/gpr-widget-kominfo_an7m1i.css">-->
    <!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1705643175/gpr-widget-kominfo_qlizze.css">   -->    
    <link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/gpr-widget-kominfo.css"> 
    
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/gpr-widget-kominfo.css' %}"> -->
	
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/comment.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/comment.css"> 	
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932204/opd-website/comment_xb01s0.css">-->
	
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932280/opd-website/message_l7tpcg.css">-->
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/message.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/message.css"> 
	
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/search.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/search.css"> 	
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932281/opd-website/search_voslbs.css">-->

	
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/vendor/datatables/jquery.dataTables.min.css' %}"> -->
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932322/opd-website/datatables_jquery.dataTables.min_mebu6s.css">-->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/vendor/datatables/jquery.dataTables.min.css"> 		
	
	<!-- <link rel="stylesheet" type="text/css" href="static 'opd/css/custom.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.lombokbaratkab.go.id/static/opd/css/custom.css"> 	
	<!--<link rel="stylesheet" type="text/css" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932323/opd-website/css_custom_nfabb5.css">-->
	
	<!-- Khusus yg ada datatable
	<link rel="stylesheet" type="text/css" media="screen" href="static 'account/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" media="screen" href="static 'account/css/font-awesome.min.css' %}"> -->
	
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="static 'account/css/bootstrap.min.css' %}"> -->
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="static 'account/css/font-awesome.min.css' %}"> -->

	<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="static 'account/css/smartadmin-production-plugins.min.css' %}">
	<link rel="stylesheet" type="text/css" media="screen" href="static 'account/css/smartadmin-production.min.css' %}">
	<link rel="stylesheet" type="text/css" media="screen" href="static 'account/css/smartadmin-skins.min.css' %}">
	<link rel="stylesheet" type="text/css" href="static 'opd/fonts/iconic/css/material-design-iconic-font.min.css' %}"> -->
	<!-- SmartAdmin RTL Support -->
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="static 'account/css/smartadmin-rtl.min.css' %}">  -->

	<!-- Owl Stylesheets -->
    <!--<link rel="stylesheet" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932326/opd-website/owl.carousel.min_jnzgvk.css">-->
	<!-- <link rel="stylesheet" href="static 'opd/owlcarousel2/assets/owlcarousel/assets/owl.carousel.min.css' %}"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
	
    <!--<link rel="stylesheet" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932515/opd-website/owl.theme.default.min_ijfyoq.css">-->
	<!-- <link rel="stylesheet" href="static 'opd/owlcarousel2/assets/owlcarousel/assets/owl.theme.default.min.css' %}"> -->
	<link rel="stylesheet" href="https://cdn.lombokbaratkab.go.id/static/opd/owlcarousel2/assets/owlcarousel/assets/owl.theme.default.min.css"> 
	
	<!-- <link rel="stylesheet" href="static 'opd/owlcarousel2/animate.min.css' %}"> -->
	<!--<link rel="stylesheet" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932740/opd-website/animate.min_awhb3p.css">-->
	<link rel="stylesheet" href="https://cdn.lombokbaratkab.go.id/static/opd/owlcarousel2/animate.min.css"> 	
	
	<!-- <link rel="stylesheet" href="static 'django_ckeditor_5/dist/styles.css' %}"> -->
	<link rel="stylesheet" href="https://cdn.lombokbaratkab.go.id/static/django_ckeditor_5/dist/styles.css"> 	
	<!--<link rel="stylesheet" href="https://res.cloudinary.com/drs8uoqys/raw/upload/v1701932965/opd-website/django_ckeditor_5_dist_styles_figuxl.css">-->
	
	<style>

		.owl-carousel .owl-item img {
			display: flex;
			width: auto;			
		}
	</style>
