{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'opd/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'opd/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'opd/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}"> 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'opd/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'opd/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'opd/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'opd/vendor/animsition/css/animsition.min.css' %}"> 
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'opd/css/util.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'opd/css/main.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'opd/css/style.fullclip.css' %}">
<!--===============================================================================================--> 
    <!--Style slide show-->
    <link rel="stylesheet" type="text/css" href="{% static 'opd/css/default_theme.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'opd/css/gpr-widget-kominfo.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'opd/css/comment.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'opd/css/message.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'opd/css/search.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'opd/vendor/datatables/jquery.dataTables.min.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'opd/css/custom.css' %}">
	
	<!-- Khusus yg ada datatable
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/font-awesome.min.css' %}"> -->
	
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/bootstrap.min.css' %}"> -->
<!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/font-awesome.min.css' %}"> -->

<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
<!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/smartadmin-production-plugins.min.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/smartadmin-production.min.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/smartadmin-skins.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'opd/fonts/iconic/css/material-design-iconic-font.min.css' %}"> -->
<!-- SmartAdmin RTL Support -->
<!-- <link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/smartadmin-rtl.min.css' %}">  -->

	<!-- Owl Stylesheets -->
    <link rel="stylesheet" href="{% static 'opd/owlcarousel2/assets/owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'opd/owlcarousel2/assets/owlcarousel/assets/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'opd/owlcarousel2/animate.min.css' %}">

	<link rel="stylesheet" href="{% static 'django_ckeditor_5/dist/styles.css' %}">

	<style>

		.owl-carousel .owl-item img {
			display: flex;
			width: auto;			
		}
	</style>