
<div class="container">                                        
    <div class="row">
        <div class="col text-center">
            <div class="d-flex justify-content-center"> 
                <p>Mohon maaf, Informasi yang Anda cari belum tersedia untuk saat ini.
                Silahkan hubungi admin website ...</p>
            </div>

            <div class="d-flex justify-content-center">      
                <class="lazy" data-src="{{static_prefix}}opd/images/404_page_not_found.png" class="img-fluid">        
            </div>
        </div>
    </div>
</div>