<!--tidak ada if lagi di atas-->
                                

<div class="banner-header">        
    {% if bannerTop %}                
        <a target="_blank" href="{% if not bannerTop.link %} javascript:void(0) {% elif bannerTop.link == '#' %} javascript:void(0) {% else %} {{bannerTop.link}} {% endif %}">
            <img src="{{bannerTop.photo}}" alt="BANNER TOP">
        </a>                       
    {% else %}
        <a target="_blank" href="{% if not bannerTop.link %} javascript:void(0) {% elif bannerTop.link == '#' %} javascript:void(0) {% else %} {{bannerTop.link}} {% endif %}">
            <img src="{{static_prefix}}opd/images/banner-hor.jpg" alt="BANNER TOP2">
        </a>            
    {% endif %}        
</div> 