<header class="clearfix third-style">
    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">

        {% include "hotmagazine/snippets/top-line.html" %}

       <!-- Logo & advertisement -->
       {% include "hotmagazine/snippets/logo-banner.html" %}
       <!-- End Logo & advertisement -->

        <!-- navbar list container -->
        {% include "hotmagazine/snippets/navbar-detail.html" %}        
        <!-- End navbar list container -->

    </nav>
    <!-- End Bootstrap navbar -->
            
</header>

