<div class="carousel-box owl-wrapper">

    <div class="title-section">
        <h1><span>Kegiatan Bupati</span></h1>
    </div>

    <div class="owl-carousel" data-num="2">
    
        <div class="item">
            <div class="news-post image-post2">
                <div class="post-gallery">
                    <img src="upload/news-posts/im2.jpg" alt="">
                    <div class="hover-box">
                        <div class="inner-hover">
                            <a class="category-post world" href="world.html">business</a>
                            <h2><a href="single-post.html">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-post image-post2">
                <div class="post-gallery">
                    <img src="upload/news-posts/im1.jpg" alt="">
                    <div class="hover-box">
                        <div class="inner-hover">
                            <a class="category-post food" href="food.html">Food &amp; Healthy</a>
                            <h2><a href="single-post.html">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="item">
            <div class="news-post image-post2">
                <div class="post-gallery">
                    <img src="upload/news-posts/im3.jpg" alt="">
                    <div class="hover-box">
                        <div class="inner-hover">
                            <a class="category-post travel" href="travel.html">travel</a>
                            <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-post image-post2">
                <div class="post-gallery">
                    <img src="upload/news-posts/im4.jpg" alt="">
                    <div class="hover-box">
                        <div class="inner-hover">
                            <a class="category-post fashion" href="fashion.html">fashion</a>
                            <h2><a href="single-post.html">Aenean dignissim pellentesque felis.</a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="item">
            <div class="news-post image-post2">
                <div class="post-gallery">
                    <img src="upload/news-posts/im1.jpg" alt="">
                    <div class="hover-box">
                        <div class="inner-hover">
                            <a class="category-post food" href="food.html">Food &amp; Healthy</a>
                            <h2><a href="single-post.html">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-post image-post2">
                <div class="post-gallery">
                    <img src="upload/news-posts/im2.jpg" alt="">
                    <div class="hover-box">
                        <div class="inner-hover">
                            <a class="category-post world" href="world.html">business</a>
                            <h2><a href="single-post.html">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="center-button">
        <a href="#"><i class="fa fa-refresh"></i> Lainnya</a>
    </div>
</div>