<div class="logo-advertisement">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        {% include "hotmagazine/snippets/logo.html" %}

        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="upload/addsense/728x90.jpg" alt="">
            </div>
            <div class="tablet-advert">
                <span>Advertisement</span>
                <img src="upload/addsense/468x60.jpg" alt="">
            </div>
        </div>
    </div>
</div>