<div class="nav-list-container">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">

                {% include "hotmagazine/snippets/menu.html" %}

            </ul>
            <form class="navbar-form navbar-right" role="search">
                <input type="text" id="search" name="search" placeholder="Search here">
                <button type="submit" id="search-submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div>
