<div class="widget review-widget">
    <h1>Ulasan Teratas</h1>
    <ul class="review-posts-list">
        <li>
            <img src="upload/news-posts/rev1.jpg" alt="">
            <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
            <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
            <span class="post-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
        </li>
        <li>
            <img src="upload/news-posts/rev2.jpg" alt="">
            <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
            <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
            <span class="post-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </span>
        </li>
        <li>
            <img src="upload/news-posts/rev3.jpg" alt="">
            <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
            <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
            <span class="post-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </span>
        </li>
        <li>
            <img src="upload/news-posts/rev4.jpg" alt="">
            <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
            <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
            <span class="post-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </span>
        </li>
        <li>
            <img src="upload/news-posts/rev5.jpg" alt="">
            <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
            <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
            <span class="post-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
        </li>
        <li>
            <img src="upload/news-posts/rev6.jpg" alt="">
            <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
            <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
            <span class="post-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </span>
        </li>
        
    </ul>

    &nbsp;
    <div class="center-button">
        <a href="#"><i class="fa fa-refresh"></i> Lainnya</a>
    </div>
    
</div>