<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/bootstrap.min.css" media="screen">	
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/jquery.bxslider.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/font-awesome.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/magnific-popup.css" media="screen">	
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/owl.carousel.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/owl.theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/ticker-style.css"/>
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/slideshow-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/input-text.css" media="screen">

<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/back-top.css" media="screen">
<link rel="stylesheet" type="text/css" href="{{static_prefix}}hotmagazine/css/custom-style.css" media="screen">

<style>
    .parent {
        left: 150px;
        /* position: relative; */
        /*height: 100; /* bigger than your svg */
        /*width: 100; /* bigger than your svg */
    }

    /* SVG title */
    
    /* Hide menu dropdown icon */
    .navbar-nav > li > a:after {
        content: var(--my-icon-var);
    }
    
</style>